
.a {  /* or whatever class/id the element has */
  display: none;
}

        body { font-family: 'Sacramento',cursive; text-align: center;
        background-image: url('https://github.com/Sow006/sow006.github.io/blob/main/WhatsApp%20Image%202025-02-20%20at%2011.08.03%20PM.jpeg?raw=true'); /* Image path */
    background-size: contain; /* Cover full screen */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent tiling */
    background-attachment: fixed; /* Keeps it fixed while scrolling */
    
    
    
    
    }
        .container { max-width: 600px; margin: auto; padding: 20px; }
        button { font-family: 'Pacifico',cursive; background-color: #0080ff; color: rgb(15, 14, 14); padding: 10px 15px; cursor: pointer; }
        h1{color:#24aac2;animation: glow 2s  infinite alternate}
        p{color:#0b0b0a}
        h2{color:#daec15 }
        @keyframes glow {
    0% { text-shadow: 0 0 5px #fff; }
    50% { text-shadow: 0 0 20px #d49a11; }
    100% { text-shadow: 0 0 5px #fff; }
}
@keyframes glow-button {
            0% {
                box-shadow: 0 0 10px #0ff;
            }
            100% {
                box-shadow: 0 0 20px #0ff, 0 0 40px #0ff;
            }
        }
.glow-btn {
            font-size: 15px;
            font-weight: bold;
            color: white;
            background: rgb(0, 115, 255);
            border: none;
            padding: 15px 30px;
            border-radius: 10px;
            cursor: pointer;
            transition: 0.3s;
            animation:  infinite alternate;
        }

        .glow-btn:hover {
            background: #0059ff4e;
            
        }
        .outlined-text {
            font-size: 45px;
            font-weight: bold;
            color: rgba(10, 106, 249, 0.547); /* Text color */
            -webkit-text-stroke: 2px; /* Outline color and thickness */
        }
        .fixed-button {
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
 .text-box {
            position: absolute;
            top: 550px; /* Distance from top */
            left : 550px;
             /* Distance from left */
            font-size: 20px;
            color: white;
            background-color: rgba(0, 0, 0, 0.278);
            
        }
  
